{{ set(this, 'title', 'User Articles') }}
{% set networkData = _Network.getNetworkData() %}
{% set profileImage =_Media.getMediaUrl(user.media, 500, 500, {crop: 'thumb', gravity: 'face', type:'user'} )%}
{{this.registerJs("UserArticlesController.load()")}}
<div class="profile">
    <div class="profile__section">
        <div class="profile-sidebar__wrap">
            <div class="profile-sidebar">
                <div class="profile-sidebar__picture" {% if profileImage is not empty %}  style="background-image:url({{profileImage}});"{% endif %}></div>
                <div class="profile-sidebar__name">{{Html.encode(user.firstname)}} {{Html.encode(user.lastname)}}</div>

                {% if _User.isGuest() and not _Network.isNetworkClosed(networkData) %}
                    <a href="javascript:void(0);" class="button button__follow button-blue button__profile-follow forceLoginModal">Follow</a>
                {% endif %}
                {% if not _User.isGuest() and _User.getId() != user.id and not _Network.isNetworkClosed(networkData) %}
                    {% set isUserFollowing = _User.isUserFollowing('user', user.id)  %}
                    <a href="javascript:void(0);" class="button button__follow button-blue button__profile-follow FollowProfileUser"  data-guid="{{user.guid}}" data-status="{% if isUserFollowing == 'TRUE' %}unfollow{% else %} follow {% endif %}">{% if isUserFollowing == 'TRUE' %} Unfollow {% else %} Follow {% endif %}</a>
                {% endif %}
                <span class="profile-sidebar__description">{{Html.decode(user.bio) | raw }}</span>
            </div>
        </div>
        <div class="profile__activity">
            <div class="profile__title">Articles by {{Html.encode(userDetails.firstname)}} {{Html.encode(userDetails.lastname)}}:</div>
            <div class="profile__card-container" id="userArticleContainer" data-total-count="{{totalArticles}}" data-offset="0">
                {% if userArticles | length > 0  %}
                    {% set i = 0 %}
                    {% for article in userArticles %}  
                        <div class="col-half">
                            {{this.render('//partials/_single-article.twig', {article: article, 'position': (i+1), titleTruncateLength: 70}) | raw}}
                        </div>
                        {%  set i = i + 1 %}
                    {% endfor %}
                {% else %}
                    <p class="no-data ">No article(s) created yet.</p>
                {% endif %}
            </div>
        <div id="LoadMoreArticles" class="clearfix"></div>
        {% if totalArticles >= limit%}
            <div class="text-center loader">
                <span><img width="24" height="24" src="{{networkData.templatePath}}/static/images/loading.svg"></span>
                <span class="text">please wait<span class="one">.</span><span class="two">.</span><span class="three">.</span></span>
            </div>
        {% endif %}
        </div>
    </div>
</div>

