{{ set(this, 'title', event.title) }}

{% set network = _Network.getNetworkData() %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "{{ event.title }}",  
  "description": "{{ event.content }}",
  "startDate": "{{ event.startDate }}",
  "endDate": "{{ event.endDate }}",
  "location": {
    "@type": "Place",
    "name": "{{ event.venue }}",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ event.address['address1'] }} {{ event.address['address2'] }}",
      "addressLocality": "{{ event.address['city'] }}",
      "postalCode": "{{ event.address['postcode'] }}",
      "addressRegion": "{{ event.address['state'] }}",
      "addressCountry": "{{ event.address['country'] }}"
    }
  }
    {% if event.media | length > 0 %}
    ,
        {% set i = 1 %}
        {% for media in event.media %}
            {% if media.type != 'video' %} 
                "image": {
                    "@type": "ImageObject",
                    "url": "{{media.path}}",
                    "width": {{media.width}},
                    "height": {{media.height}}
                }
                {% if event.media | length > i %}
                ,
                {% endif %}
            {% endif %}
            {% set i = i+1 %}
        {% endfor %}
    {% endif %}
}
</script>

<div class="event-header event__slider">
    {% if event.media|length %}
        <amp-carousel width="400" height="300" layout="responsive" type="slides" autoplay="" loop="">
            {% for media in event.media %}
                {% if media.type == 'video' %} 
                    {% set mediaUrl = "" %}
                    {% if media.isSystemVideo == 'TRUE'%}
                        {% set mediaUrl = media.video_path  %}
                        <div class="video-player">
                            <amp-video id="myVideo" controls width="400" height="300" layout="responsive" src="{{mediaUrl}}"></amp-video>

                            <div id="myOverlay" class="click-to-play-overlay">
                                <div class="play-icon" role="button" tabindex="0" on="tap:myOverlay.hide, myVideo.play"></div>
                                <amp-img class="poster-image" layout="fill" src="{{media.path}}"></amp-img>
                            </div>
                        </div>
                    {% else %}
                        {% if media.source == 'youtube' %}
                            <amp-youtube data-videoid="{{media.videoId}}" width="400" height="300" layout="responsive"></amp-youtube>
                            {% else %}
                            <amp-vimeo data-videoid="{{media.videoId}}" width="400" height="300" layout="responsive"></amp-vimeo>
                            {% endif %}
                        {% endif %}
                {% else %}
                    <figure>
                        <amp-img src="{{media.path}}" class="" width="400" height="300" layout="responsive"></amp-img>
                    </figure>
                {% endif %}
            {% endfor %}
        </amp-carousel>
    {% endif %}
    <div class="event-header__image">
        <div class="event-header__content">
            <div class="event-header__content-left">
                {% set eventDate = event.startDate|date('d') %}
                {% if event.startDate|date('d-m') != event.endDate|date('d-m') %}
                    {% set eventDate = event.startDate|date('d')~'-'~event.endDate|date('d')%}                            
                {% endif %}
                <div class="event-header__days">{{ eventDate }}</div>
                <div class="event-header__month">{{ event.startDate|date('F') }}</div>
                <div class="event-header__hours">{{ event.startDate|date('h') }}pm-{{ event.endDate|date('h') }}pm</div>
            </div>
            <div class="event-header__content-right">
                <div class="event-header__title">{{ event.title }}</div>
                <div class="event-header__subtitle">Presented by {{ event.createdBy['name'] }}</div>
            </div>
        </div>
        <div class="event-header__panels">
            <div class="event-header__panel">
                <div class="event-header__panel-content">
                    <div class="event-header__icon"><i class="fa fa-map-marker"></i></div>
                    <div class="event-header__text-container">
                        {% set address = ''%}
                        {% if event.address['address1'] is not empty %}
                            {% set address = event.address['address1'] %}                            
                        {% endif %}
                        {% if event.address['address2'] is not empty %}
                            {% set address = address~','~event.address['address2'] %}
                        {% endif %}
                        {% if event.address['city'] is not empty %}
                            {% set address = address~','~event.address['city'] %}
                        {% endif %}
                        {% if event.address['state'] is not empty %}
                            {% set address = address~','~event.address['state'] %}
                        {% endif %}
                        {% if event.address['country'] is not empty %}
                            {% set address = address~','~event.address['country'] %}
                        {% endif %}
                        <div class="event-header__text-container_title">{{ event.venue }}</div>
                        <div class="event-header__text-container_sub-title">{{address}}</div>
                    </div>
                </div>
            </div>
            <div class="event-header__panel">
                {% if event.websiteUrl is not empty%}
                    <div class="event-header__panel-content join__event">
                        <div class="event-header__text-container">
                            <div class="event-header__text-container_title">Keen to go?</div>
                            <div class="event-header__text-container_sub-title">Join event</div>
                        </div>
                        <a href="{{event.websiteUrl}}" target="_blank" class="event-header__button button button__event-header">Join</a>
                    </div>
                {% else %}
                    <div class="event-header__panel-content">
                        <div class="event-header__icon"><i class="fa fa-list-alt"></i></div>
                        <div class="event-header__text-container">
                            <div class="event-header__text-container_title">{{event.contactName}}</div>
                            <div class="event-header__text-container_sub-title">{{event.contactEmail}}</div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="article__body">
    <div class="article article--category_{{event.blog['id']}} article--category">
        <div class="article__header">
            <div class="article__profile">
                <p class="heading">
                <amp-social-share type="twitter" width="45" height="33"></amp-social-share>
                <amp-social-share type="gplus" width="45" height="33"></amp-social-share>
                </p>
            </div>
        </div>
        <div class="article__container">
            <h1 class="article__headline">{{event.title}}</h1>
            <div>
                {{event.content | raw}}
            </div>
            {% set googleMapAddress = ''%}
            {% if event.address['address1'] is not empty %}
                {% set googleMapAddress = event.address['address1'] %}
            {% endif %}
            {% if event.address['address2'] is not empty %}
                {% set googleMapAddress = event.address['address2'] %}
            {% endif %}
            {% if event.address['city'] is not empty %}
                {% set googleMapAddress = googleMapAddress~','~event.address['city'] %}
            {% endif %}
            {% if event.address['state'] is not empty %}
                {% set googleMapAddress = googleMapAddress~','~event.address['state'] %}
            {% endif %}
            {% if event.event.address['country'] is not empty %}
                {% set googleMapAddress = googleMapAddress~','~event.address['country'] %}
            {% endif %}


            {% if googleMapAddress is not empty %}
                <amp-iframe 
                    width="600"
                    height="400"
                    layout="responsive"
                    sandbox="allow-scripts allow-same-origin allow-popups"
                    frameborder="0"
                    src="https://maps.google.com/maps?q={{googleMapAddress | url_encode}}&amp;ie=UTF8&amp;&amp;output=embed">
                </amp-iframe>
            {% endif %}
        </div>
    </div>
</div>


