{% set user = '' %}
{% if not _User.isGuest()%}
    {% set user = _User.getUser()%}
{% endif %}
<header class="header">
    <div class="header__heading header__container">
        <div class="header__heading-highlight"></div>  
		{% if not _Network.isNetworkClosed(network)%}		
			{{ this.render('user-dropdown.twig', {network: network, user: user}) | raw }}
		{% endif %}
        <div class="header__heading-container">
            <div class="header__heading--left">
                {% set logo = network.templatePath~'/static/images/themeLogo.svg'%}
                {% set logoUrl = network.networkLogoLinkUrl %}
                {% if network.logoMedia | length > 0 %}
                    {% set logo = _Media.getMediaUrl(network.logoMedia, 177, 65, {'crop': 'limit'} )%}
                {% endif %}
                <a class="header__heading-logo" href="{{logoUrl}}">
                    <img src="{{logo}}" />
                </a>
            </div>
            <div class="header__heading--right">
                {% if _User.isGuest() %}
					{% if not _Network.isNetworkClosed(network)%}
						<div class="header__heading-link" id="login">
							<a href="javascript:void(0);" class="header__login__link header__login__link">Login</a> | <a href="javascript:void(0);" class="header__login__link header__login__link--signup sign-up__link">Sign Up</a>
						</div>
					{% endif %}
                {% endif %}
                <div class="header__heading-icons">
                    {% set profileImage = ''%}
                    {% set userImage = '' %}
                    {% if not _User.isGuest()%}
                        {% set user = _User.getUser()%}
                        {% set userImage = 'header__heading-link--profile-image' %}
                        {% set profileImage = _Media.getMediaUrl(user.profileMedia, 80, 80, {radius: 'max', gravity: 'face', 'crop': 'thumb', 'type' : 'user'}) %}
                        <a href="javascript:void(0)" class="header__heading-link header__heading-link--profile {{userImage}}" id="profile" {% if profileImage != "" %} style="background-image:url({{profileImage}}); background-size: cover !important; background-position:center center;" {% endif %}>                            
                        </a>
                    {% endif %}
                    <a href="javascript:void(0)" class="header__heading-link header__heading-link--responsive">
                        
                        <svg width="20px" height="14px" viewBox="0 0 20 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
                        <title>Hamburger</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Mobile" stroke="none" stroke-width="1" fill-rule="evenodd" opacity="0.8">
                            <g id="Theme-2-Home---mobile" transform="translate(-337.000000, -41.000000)">
                                <g id="Header">
                                    <g id="Hamburger" transform="translate(337.000000, 41.000000)">
                                        <rect id="Rectangle" x="0" y="0" width="20" height="2"></rect>
                                        <rect id="Rectangle-Copy-2" x="0" y="6" width="20" height="2"></rect>
                                        <rect id="Rectangle-Copy-3" x="0" y="12" width="20" height="2"></rect>
                                    </g>
                                </g>
                            </g>
                        </g>
                        </svg>
                    </a>
                    
                </div>

                <div class="header__heading--visible_desktop">
                    <div class="header__search">
                        <form id= "searchArticleForm" action="{{blog.url}}/search" method="get" autocomplete="off">
                            <input type="text" class="header__search-text" placeholder="Search" name="s" value="{{_AppHelper.getRequest('s')}}" autocomplete="off">
                            <button class="header__search-btn searchArticle">
                                <svg width="17px" height="17px" viewBox="0 0 17 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
                                    <title>Shape</title>
                                    <desc>Created with Sketch.</desc>
                                    <defs></defs>
                                    <g id="Desktop" stroke="none" stroke-width="1" fill-rule="evenodd" opacity="1">
                                        <g id="Theme-2-Article---desktop" transform="translate(-1350.000000, -53.000000)" >
                                            <g id="Header">
                                                <g id="Search" transform="translate(1085.000000, 38.000000)">
                                                    <path d="M281.108425,29.2175365 L277.632507,25.7416824 C277.614034,25.7232094 277.592365,25.7102975 277.573061,25.693103 C278.257007,24.6556138 278.656189,23.4137077 278.656189,22.0781585 C278.656189,18.4451245 275.711065,15.5 272.078095,15.5 C268.445124,15.5 265.5,18.4451245 265.5,22.0780945 C265.5,25.7110007 268.445061,28.6561891 272.078031,28.6561891 C273.413644,28.6561891 274.655486,28.2570073 275.692975,27.5730608 C275.71017,27.5923008 275.723018,27.6139698 275.741491,27.6324427 L279.217473,31.1084247 C279.739637,31.6305251 280.586196,31.6305251 281.108425,31.1084247 C281.630525,30.5862603 281.630525,29.7397009 281.108425,29.2175365 L281.108425,29.2175365 Z M272.078095,26.375771 C269.704481,26.375771 267.780354,24.4516443 267.780354,22.0780945 C267.780354,19.7044808 269.704545,17.7803541 272.078095,17.7803541 C274.45158,17.7803541 276.375771,19.7045447 276.375771,22.0780945 C276.375771,24.4516443 274.45158,26.375771 272.078095,26.375771 L272.078095,26.375771 Z" id="Shape"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__navigation">
        <div class="container">
            <div class="header__navigation-row">
                <ul class="header__navigation-list">
                    {% set menuItems = blogData.blogHeaderMenu %}
                    {% for i in 0..4 %}
                        {% if menuItems[i] is defined %}
                            {% set activeClass = (menuItems[i].link == _AppHelper.getServerUrl()) ? 'active' : ''%}
                            {% set externalClass = (menuItems[i].isExternal) ? 'external-link' : '' %}
                            {% set hasChildren = menuItems[i].children is defined and menuItems[i].children | length > 0 ? true : false %} 
                            <li class="header__navigation-item header__navigation-item--technology channel-1 {% if hasChildren %}  dropdown {% endif%}">
                                
                                <a href="{{menuItems[i].link |raw}}" class="header__navigation-link {{activeClass}} {{externalClass}}" {% if menuItems[i].target != "" %}target="{{menuItems[i].target}}"{% endif %}>
                                    {{ ((menuItems[i].label is empty) ? ((menuItems[i].pageTitle is empty)? menuItems[i].blogTitle : menuItems[i].pageTitle) : menuItems[i].label )}} 
                                {% if menuItems[i].children is defined and menuItems[i].children | length > 0 %}
                                    <i class="fa fa-angle-down"></i>
                                {% endif %}
                                </a>
                                {% if hasChildren %}  
                                    <ul class="dropdown-menu">
                                        {% for childItem in menuItems[i].children%}
                                            {% set externalClass = (childItem.isExternal) ? 'external-link' : '' %}
                                            {% set name = ((childItem.label is empty) ? ((childItem.pageTitle is empty)? childItem.blogTitle : childItem.pageTitle) : childItem.label) %}
                                            <li class="header__navigation-item--{{name}} channel-{{childItem.id}}">
                                                <a href="{{childItem.link |raw}}" class="{{externalClass}}" {% if childItem.target != "" %}target="{{childItem.target}}"{% endif %}>
                                                    {{ name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if menuItems[5] is defined %}
                        <li class="header__navigation-item dropdown">
                            <a href="#" class="header__navigation-link dropdown-toggle" type="button" id="dropdown" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true">More <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                {% for i in 5..(menuItems |length - 1)%}
                                    {% set menuItem = menuItems[i] %}
                                    <li id="{% if menuItems[i].children is defined and menuItems[i].children | length > 0 %}dropdown{% endif %}" class="header__navigation-item {{ menuItem.blogTitle|lower }} {% if menuItems[i].children is defined and menuItems[i].children | length > 0 %}  secondary-dropdown {% endif%}">
                                        <a href="{{ menuItem.link }}" class="" id="{% if menuItems[i].children is defined and menuItems[i].children | length > 0 %}dropdown{% endif %}">
                                            {{ ((menuItem.label is empty) ? ((menuItem.pageTitle is empty)? menuItem.blogTitle : menuItem.pageTitle) : menuItem.label )}}
                                            {% if menuItems[i].children is defined and menuItems[i].children | length > 0 %}
                                                <i class="fa fa-angle-right"></i>
                                            {% endif %}
                                        </a>
                                            {% if menuItems[i].children is defined and menuItems[i].children | length > 0 %}  
                                                <ul class="secondary-dropdown-menu">
                                                    {% for childItem in menuItems[i].children%}
                                                        {% set externalClass = (childItem.isExternal) ? 'external-link' : '' %}
                                                        {% set name = ((childItem.label is empty) ? ((childItem.pageTitle is empty)? childItem.blogTitle : childItem.pageTitle) : childItem.label) %}
                                                        <li class="">
                                                            <a href="{{childItem.link |raw}}" class="{{externalClass}}" {% if childItem.target != "" %}target="{{childItem.target}}"{% endif %}>
                                                                {{ name }}
                                                            </a>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>
